body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
}

.qr-container {
  border-radius: 16px;
  overflow: hidden;
}

.qr-container img {
  width: 100%;
  display: block;
}

h2 {
  font-size: 18px;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: hsl(220, 15%, 55%);
}
